.mdriz{
    background: linear-gradient(25deg,rgb(179, 145, 235),rgb(49, 49, 49));
    margin:30px;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px 5px 10px 5px;
    color: black;
}
.riz{
    max-width: 350px;
    text-align: left;
    margin-left: 35%;
}